section.product-info {
	padding: 16px 8px;
	color: var(--black);

	@media (min-width: 1024px) {
		padding-left: 10vw;
		padding-right: 10vw;
		/* height: 80vh; */
	}

	.link-back {
		padding: 4px 0;
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.product-container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding-top: 24px;
		padding-bottom: 40px;

		@media (min-width: 1024px) {
			flex-direction: row;
			height: 100%;
			gap: 48px;
		}

		> img.product-image {
			object-fit: contain;
			object-position: center;
			margin: 0 auto;
			max-height: 50vh;

			@media (min-width: 1024px) {
				max-height: 50vh;
				max-width: calc(100% - 500px - 24px);
				object-fit: contain;
				object-position: center;
			}
		}

		.product-details {
			display: flex;
			flex-direction: column;
			gap: 24px;

			@media (min-width: 1024px) {
				max-width: 30vw;
				background-color: var(--light-purple);
				gap: 32px;
				padding: 32px;
				border-radius: 4px;
			}

			> img.promo-image {
				display: none;
				/* and (min-height: 850px) */
				@media (min-width: 1024px) {
					display: block;
					object-fit: contain;
					object-position: center;
				}
			}

			.product-header-container {
				@media (min-width: 1024px) {
					order: 1;
				}

				> h1 {
					font-size: 18px;
					font-weight: 500;
				}

				.rate-container {
					margin-top: 4px;
					display: flex;
					align-items: center;
					gap: 4px;
					font-size: 12px;
					color: var(--light-black);
					font-weight: 500;

					.star-container {
						color: var(--yellow-star);
						margin-right: 4px;

						@media (min-width: 1024px) {
							color: var(--accent-purple);
						}
					}
				}

				.price {
					color: var(--light-black);
					font-size: 16px;
					font-weight: 600;
					margin-top: 16px;
				}
			}

			#add-cart {
				@media (min-width: 1024px) {
					order: 3;
				}
			}
		}
	}
}

/* ProductAbout() -> Component of the product details with the description */
.product-about-container {
	display: flex;
	flex-direction: column;
	gap: 8px;

	@media (min-width: 1024px) {
		order: 2;
		flex-grow: 1;
	}

	> p {
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;

		@media (min-width: 1024px) {
			font-size: 14px;
		}
	}

	.product-about {
		display: flex;
		flex-direction: column;
		gap: 16px;

		padding: 16px 16px;
		border-radius: 4px;
		line-height: 115%;
		background-color: var(--light-grey);

		font-size: 14px;
		font-weight: 400;
		line-height: 150%; /* 17.5px */
		letter-spacing: 0.21px;

		height: 100%;

		> .description:not(.full) {
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
		}

		@media (min-width: 1024px) {
			font-size: 16px;
			letter-spacing: 0.24px;

			background-color: transparent;
			padding: 0;
		}

		.expand-btn {
			display: flex;
			align-items: center;
			gap: 8px;
			color: var(--light-black);
		}
	}
}
