.search-sort {
	padding: 12px 8px;

	display: flex;
	flex-direction: column;
	gap: 12px;

	.search-container {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.search-bar {
			padding: 0 8px;

			border-radius: 4px;
			border: 1px solid #f2f2f2;
			background-color: var(--white);

			> form {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;

				> svg {
					color: var(--black);
					font-size: 14px;
				}

				> input {
					border: none;
					width: 100%;
					padding: 4px;

					&::placeholder {
						color: #c7c9d1;
					}

					&:focus {
						outline: none;
					}
				}
			}
		}
		.search-not-found {
			color: red;
			font-size: 14px;
		}
	}

	.sort-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 23px;

		.sort-btn {
			display: flex;
			align-items: center;
			gap: 8px;

			color: var(--black);
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;

			&.selected {
				color: var(--accent-purple);
			}
		}
	}

	@media (min-width: 1024px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		min-height: 85px;
		padding: 16px 10vw;

		.chip {
			display: none;
		}

		.search-container {
			order: 2;
			width: 50%;
		}

		.sort-container {
			order: 1;
			gap: 16px;
		}
	}
}

.sort-list.mobile {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 9;

	padding: 40px 24px;
	background: radial-gradient(circle at top left, var(--light-purple) 25%, var(--white) 100%);

	color: var(--black);
	text-transform: uppercase;

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #72778d;

		> p {
			font-size: 12px;
			font-weight: 700;
		}

		> svg {
			padding: 12px;
			font-size: 1rem;
		}
	}

	.separator {
		width: 100%;
		background-color: #72778d;
		height: 1px;
	}

	.sort-item {
		&:first-of-type {
			margin: 40px 0;
		}

		font-size: 24px;
		font-weight: 700;

		&.selected {
			color: var(--accent-purple);
		}

		&:hover:not(.selected) {
			color: var(--accent-purple);
			cursor: pointer;
		}
	}

	.sort-group {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 40px;
		.group-title {
			font-size: 12px;
			font-weight: 700;
		}
	}
}
