/* HEADER */

header {
	width: 100%;
	background: var(--black);
	box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
	color: var(--white);
	padding: 0;

	@media (min-width: 1024px) {
		padding: 16px 10vw;
	}

	position: sticky;
	top: 0;

	.header-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.fa-bars {
			font-size: 24px;
			padding: 16px;

			@media (min-width: 1024px) {
				display: none;
			}
		}

		> h1 {
			font-size: 18px;
			font-style: italic;
			font-weight: 900;
			line-height: normal;
			letter-spacing: 0.9px;
			text-transform: uppercase;

			@media (min-width: 1024px) {
				font-size: 24px;
				letter-spacing: 1.2px;
			}

			> a {
				color: inherit;
			}
		}

		.category-list {
			display: none;

			@media (min-width: 1024px) {
				display: block;

				> ul {
					display: flex;
					gap: 24px;

					.category {
						font-size: 14px;
						font-weight: 700;
						text-transform: uppercase;
						cursor: pointer;

						&.selected {
							color: var(--accent-yellow);
							cursor: default;
						}

						&:not(.selected):hover {
							color: var(--accent-yellow);
						}

						> a {
							color: inherit;
							cursor: inherit;
						}
					}
				}
			}
		}

		.icon-cart {
			color: var(--white);
			position: relative;
			margin-right: 16px;

			@media (min-width: 1024px) {
				margin-right: 0;

				> svg:hover,
				.selected {
					color: var(--accent-yellow);
				}
			}

			.cart-counter {
				height: 20px;
				width: 20px;
				padding: 4px;

				background-color: var(--accent-yellow);
				border-radius: 50%;
				border: 2px solid var(--black);

				position: absolute;
				right: 0;
				transform: translateX(50%) translateY(-50%);

				display: flex;
				justify-content: center;
				align-items: center;

				> p {
					color: var(--black);
					font-size: 10px;
					font-weight: 800;
				}
			}

			.fa-cart-shopping {
				font-size: 25px;
			}
		}

		.notification-add {
			background-color: var(--accent-yellow);
			padding: 8px 24px;
			font-size: 12px;
			font-weight: 600;
			color: var(--black);
			border-radius: 2px;

			position: absolute;
			right: 16px;

			animation: wobble-horizontal-top 0.8s linear both;

			@media (min-width: 1024px) {
				position: absolute;
				top: -16px;
				right: 0;
				margin-right: 10vw;

				padding: 16px 32px;
				font-size: 16px;
			}
		}
	}
}

@keyframes wobble-horizontal-top {
	0%,
	100% {
		transform: translate(0, 125%);
		transform-origin: 50% 50%;
	}
	15% {
		transform: translate(-16px, 125%) rotate(6deg);
	}
	30% {
		transform: translate(8px, 125%) rotate(-6deg);
	}
	45% {
		transform: translate(-8px, 125%) rotate(3.6deg);
	}
	60% {
		transform: translate(4px, 125%) rotate(-2.4deg);
	}
	75% {
		transform: translate(-6px, 125%) rotate(1.2deg);
	}
}

/* CATEGORY PAGE - Menu that opens in mobile version*/

#root:has(.categories) {
	height: 100vh;
	overflow: hidden;
}

.categories {
	@media (min-width: 1024px) {
		display: none;
	}

	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	z-index: 9;

	padding: 40px 24px;
	background: var(--accent-yellow);
	background: radial-gradient(circle at top left, var(--accent-yellow) 25%, var(--white) 100%);

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #72778d;

		> p {
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}

		> svg {
			padding: 12px;
			font-size: 1rem;
		}
	}

	.separator {
		width: 100%;
		background-color: #72778d;
		height: 1px;
	}

	.category-list.mobile {
		display: block;

		> ul {
			display: flex;
			flex-direction: column;
			gap: 32px;
			margin-top: 40px;
		}

		.category {
			color: var(--black);
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;

			&.selected {
				color: var(--accent-purple);
			}

			> a {
				color: inherit;
			}
		}
	}
}
