header {
	background: var(--black);
	box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.05);
	color: var(--white);
	padding: 0;

	@media (min-width: 1024px) {
		padding: 0 10vh;
		height: 62px;
	}

	.header-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--white);

		.fa-bars {
			font-size: 24px;
			padding: 16px;

			@media (min-width: 1024px) {
				display: none;
			}
		}

		> h1 {
			font-size: 18px;
			font-style: italic;
			font-weight: 900;
			line-height: normal;
			letter-spacing: 0.9px;
			text-transform: uppercase;

			@media (min-width: 1024px) {
				font-size: 24px;
				letter-spacing: 1.2px;
			}
		}

		.category-list {
			@media (max-width: 1024px) {
				display: none;
			}

			> ul {
				display: flex;
				gap: 24px;

				.category {
					color: var(--white);
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;

					&.selected {
						color: var(--accent-yellow);
						cursor: default;
					}

					&:not(.selected):hover {
						opacity: 50%;
						cursor: pointer;
					}

					> a {
						color: inherit;
						cursor: inherit;
					}
				}
			}
		}

		> a {
			color: inherit;

			.icon-cart {
				position: relative;
				margin-right: 16px;

				.cart-counter {
					background-color: var(--accent-yellow);
					border-radius: 50%;
					height: 24px;
					width: 24px;
					padding: 4px;
					border: 2px solid var(--black);

					position: absolute;
					right: 0;
					transform: translateX(50%) translateY(-50%);

					display: flex;
					justify-content: center;
					align-items: center;

					> p {
						color: var(--black);
						font-size: 12px;
						font-weight: 800;
					}
				}

				.fa-cart-shopping {
					font-size: 24px;
				}
			}
		}
	}
}

.categories.mobile {
	@media (min-width: 1024px) {
		display: none;
	}

	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	z-index: 9;

	color: var(--black);
	background: radial-gradient(91.2% 94.29% at 0% 43.33%, var(--accent-yellow) 67.77%, var(--white) 100%), var(--white);

	padding: 40px 24px;

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #72778d;

		> p {
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}

		> svg {
			padding: 12px;
			font-size: 1rem;
		}
	}

	.separator {
		width: 100%;
		background-color: #72778d;
		height: 1px;
	}

	.category-list {
		margin-top: 40px;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;

		> ul {
			display: flex;
			flex-direction: column;
			gap: 32px;

			> .category.selected {
				color: var(--accent-purple);

				> a {
					color: inherit;
				}
			}
		}
	}
}
