.chip {
	width: fit-content;
	padding: 4px 16px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 50px;

	&.default {
		background-color: var(--black);
		color: var(--white);
	}

	&.option {
		background-color: var(--accent-purple);
		color: var(--white);

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
	}

	&.accent {
		background-color: var(--accent-yellow);
		color: var(--accent-purple);
	}
}

#add-cart {
	min-width: fit-content;
	width: 100%;
	padding: 12px 24px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border-radius: 4px;
	background-color: var(--black);
	color: var(--white);
	font-weight: 700;
}
