/* MAIN */
main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 8px;
	padding: 0 20px;

	.product-card {
		border: 1px solid lightgrey;
		height: min-content;

		display: flex;
		justify-content: center;
		align-items: center;

		> img {
			max-height: 300px;
			max-width: 30%;
			object-fit: cover;
			background-color: white;
			padding: 16px;
		}

		.product-info {
			display: flex;
			flex-direction: column;
			gap: 8px;

			padding: 16px;

			> button#add-cart {
				padding: 4px;
			}
		}
	}
}
